@import "tailwindcss";

@theme inline {
  --animate-first: moveVertical 30s ease infinite;
  --animate-second: moveInCircle 20s reverse infinite;
  --animate-third: moveInCircle 40s linear infinite;
  --animate-fourth: moveHorizontal 40s ease infinite;
  --animate-fifth: moveInCircle 20s ease infinite;
}

@theme inline {
  --animate-aurora: aurora 60s linear infinite;
  @keyframes aurora {
    from {
      background-position:
        50% 50%,
        50% 50%;
    }
    to {
      background-position:
        350% 50%,
        350% 50%;
    }
  }
}

@keyframes moveHorizontal {
  0% {
    transform: translateX(-50%) translateY(-10%);
  }
  50% {
    transform: translateX(50%) translateY(10%);
  }
  100% {
    transform: translateX(-50%) translateY(-10%);
  }
}

@keyframes moveInCircle {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes moveVertical {
  0% {
    transform: translateY(-50%);
  }
  50% {
    transform: translateY(50%);
  }
  100% {
    transform: translateY(-50%);
  }
}


html, body {
  background-color: #0b0b0b;
  scrollbar-gutter: stable;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  overscroll-behavior: none;
}

/* WebKit (Chrome, Edge, Safari) */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #0b0b0b;
}

::-webkit-scrollbar-thumb {
  background-color: #0289b6;
  border-radius: 8px;
  transition: background-color 0.2s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #105474;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #0289b6 #0b0b0b;
}

.bg-background {
  background-color: var(--color-background);
}
.bg-dark {
  background-color: var(--color-dark);
}
.bg-light {
  background-color: var(--color-light);
}
.bg-light-blue {
  background-color: var(--color-light-blue);
}
.bg-dark-blue {
  background-color: var(--color-dark-blue);
}
.bg-aurora-background {
  background-color: var(--color-aurora-background);
}

.text-background {
  color: var(--color-background);
}
.text-dark {
  color: var(--color-dark);
}
.text-light {
  color: var(--color-light);
}
.text-light-blue {
  color: var(--color-light-blue);
}
.text-dark-blue {
  color: var(--color-dark-blue);
}
.text-aurora {
  color: var(--color-aurora);
}
.text-contact {
  color: var(--color-contact);
}

.border-border {
  border-color: var(--color-border);
}

.border-dark {
  border-color: var(--color-dark);
}
.border-border-soft {
  border-color: var(--color-border-soft);
}
